.ion-padding {
    &.custom-padding {
        --padding-start: 22px;
        --padding-end: 22px;
        --padding-top: 22px;
        --padding-bottom: 22px;
        -webkit-padding-start: 22px;
        padding-inline-start: 22px;
        -webkit-padding-end: 22px;
        padding-inline-end: 22px;
        padding-top: 22px;
        padding-bottom: 22px;
    }
}

ion-checkbox {
    --border-radius: 5px;
}

ion-tab-bar {
    height: 77px;
    --background: white;
    --border: unset;
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-light);
    font-weight: 400;
    ion-tab-button {
        ion-label {
            margin-top: 6px;
            font-weight: 400;
        }
        &.tab-selected {
            svg path {
                stroke: var(--ion-color-light);
            }
        }
    }
}
