.ion-padding {
    --padding-start: 22px;
    --padding-end: 22px;
    --padding-top: 22px;
    --padding-bottom: 22px;
    -webkit-padding-start: 22px;
    padding-inline-start: 22px;
    -webkit-padding-end: 22px;
    padding-inline-end: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
}

ion-checkbox {
    --border-radius: 5px;
}
