.chat-message {
    background-color: var(--ion-color-primary);
    color: #fff;
    padding: 10px;
    border-radius: 0px 10px 10px;
    width: fit-content;
    margin-bottom: 17px;
    max-width: calc(100% - 20px);
    &.from-current-user {
        background-color: #fff;
        color: var(--ion-color-primary);
        border-radius: 10px 10px 0px;
        border: 1px solid lightgrey;
        margin-left: auto;
    }
}
